<mat-progress-bar
  *ngIf="loading"
  mode="indeterminate"
  color="primary"
  class="absolute-position-important abs-topmost">
</mat-progress-bar>
<app-breadcrumbs [currentPage]="currentPage"></app-breadcrumbs>
<app-page-layout>
  <section class="entity"
    fxLayout="row wrap"
    fxLayoutGap="20px">
    <div class="icon-cont"
      fxFlex="1 1 9em">
      <img appCheckImage [src]="baseUrl+'/entity/'+entity.id+'/'+entity.image"
        alt="icon"
        class="icon">
    </div>
    <div class="content"
      fxFlex
      fxLayout="column"
      fxLayoutGap="10px">
      <div class="entity-header"
        fxLayout="row"
        fxLayoutGap="10px"
        fxLayoutAlign="stretch baseline">
        <span class="name">{{ entity.name }}</span>
        <span class="rating rating-{{entity | ratingLabel | replaceSpaces}}">
          <span class="rating-pct">{{ entity | ratingPercent }}</span>
          <span class="rating-label">{{ entity | ratingLabel }}</span>
        </span>
        <span class="review-count">({{ entity.reviewCount }} {{ entity.reviewCount > 1 ? 'Reviews': 'Review' }})</span>
        <span fxFlex></span>
        <span class="published-date">{{ entity.createdAt | date}}</span>
        <app-entity-action-buttons [entity]="entity" [menu]="true" (afterDelete)="afterEntityDeleted()"></app-entity-action-buttons>
      </div>
      <ng-container *ngIf="entity.User && entity.User.id">
        <div class="published-by">Added by: <a [routerLink]="['/user/'+entity.User.id]" >{{ entity.User ? entity.User.username : '' }}</a></div>
      </ng-container>
      <div class="write-review-cont">
        <button mat-raised-button
          (click)="openAddReviewDialog()"
          color="primary">ADD A REVIEW</button>
      </div>
      <div class="desc"
        [innerHtml]="entityDesc"></div>
      <div class="entity-footer"
        fxLayout="row"
        fxLayoutGap="10px">
        <button mat-button
          class="grey-btn"
          (click)="openAddReviewDialog()">
          <mat-icon>forum</mat-icon>
          Add A Review
        </button>
        <ng-container *ngFor="let link of entity.links">
          <button *ngIf="link && link.link && link.name"
            mat-button
            (click)="linkBtn.click()"
            class="grey-btn">
            <mat-icon>language</mat-icon>
            <a href="{{link.link}}" #linkBtn
              target="_blank">{{ link.name }}</a>
          </button>
        </ng-container>
        <app-social-share-button></app-social-share-button>
      </div>
      <section class="review-cont">
        <app-entity-reviews [entityId$]="entityId$" (updateUserReview)="openEditReviewDialog($event)" (addUserReview)="openAddReviewDialog()"></app-entity-reviews>
      </section>
    </div>
  </section>
</app-page-layout>
