:host {
  display: block;
  padding-top: 20px;
}
img.icon {
  max-width: 100%;
  max-height: 100%;
}
.entity-header {
  span {
    margin-right: 5px;
  }
  span.name {
    font-size: 18px;
    font-weight: bold;
  }
}
