<mat-toolbar color="accent">
  <a mat-button>Introduction</a>
</mat-toolbar>
<app-separator [label]="'Search'" class="margin-large-top"></app-separator>
<mat-nav-list>
  <a mat-list-item [routerLink]="[item.link]" *ngFor="let item of items">
    <mat-icon>{{ item.icon }}</mat-icon>
    {{ item.name }}
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item [routerLink]="['my-searches']">
    <mat-icon>search</mat-icon>
    My Searches
  </a>
  <a mat-list-item [routerLink]="['my-lists']">
    <mat-icon>list</mat-icon>
    My Lists
  </a>
  <mat-divider></mat-divider>
</mat-nav-list>
