.main-cont {
  max-width: 300px;
}
.margin-top {
  margin-top: 25px;
}

.cover {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
}
.logo-container {
  text-align: center;
  .sub-title {
    font-size: 3rem;
    span {
      &:first-child {
        color: #f58704;
      }
      &:last-child {
        color: #4b2f18;
      }
    }
  }
}
.sign-up-side-cont {
  background-image: url(../../../../assets/images/misc/canary_artwork.png);
  color: #f7a143;
  background-repeat: no-repeat;
  max-width: 470px;
  background-size: cover;
  .page-title {
    font-size: 124px;
    position: absolute;
    bottom: 50px;
  }
}
.marketing-phrase {
  font-size: 20px;
  color: #434343;
  font-family: Encode Sans;
  font-weight: 100;
}
