:host {
  height: 100%;
  display: flex;
  a.add-project{
    margin-right: 5px;
  }
  button.full-height {
    height: 100%;
    color: #838383;
    font-family: 'Aquawax', 'Roboto', sans-serif;
    font-weight: 100;
    font-size: inherit;
  }
}
.mat-button {
  border-radius: 0px;
}
