<div fxLayout="row" fxLayoutAlign="stretch center">
  <!-- <button mat-button [matMenuTriggerFor]="productsMenu" >Products</button>
  <mat-menu #productsMenu="matMenu" yPosition="below" [overlapTrigger]="false">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Help</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="marketplaceMenu" >Marketplace</button>
  <mat-menu #marketplaceMenu="matMenu" yPosition="below" [overlapTrigger]="false">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Help</button>
  </mat-menu>
  <button mat-button>News</button>
  <button mat-button>About</button> -->
  <a mat-icon-button color="primary" [routerLink]="['/home']" >
    <mat-icon>home</mat-icon>
  </a>
</div>
