<ng-container *ngIf="(userActivities | json) === '{}' && (dates | json) === '[]'">
  <div class="no-activity">
    You don't have activities yet, review now!
  </div>
</ng-container>
<ng-container *ngIf="userActivities && dates">
  <div class="activity"
    *ngFor="let date of dates">
    <div class="date">{{ date.moment }}</div>
    <div class="task"
      *ngFor="let task of userActivities[date.date]">
      <div class="task-header"
        fxLayout="row"
        fxLayoutAlign="stretch center"
        fxLayoutGap="10px">
        <mat-icon *ngIf="task['activityType'] === 'review'">forum</mat-icon>
        <mat-icon *ngIf="task['activityType'] === 'entity'">add</mat-icon>
        <div class="task-header-content">
          <span class="task-title">
            <ng-container *ngIf="task['activityType'] === 'review'">
              {{ task['userId'] === currentUserId ? 'You' : user.username }} reviewed
              <a [routerLink]="['/entity/'+task['Entity']['id']]" matTooltip="Visit {{ task['Entity']['name'] }}">
                {{ task['Entity']['name'] }}
              </a>
            </ng-container>
            <ng-container *ngIf="task['activityType'] === 'entity'">
              {{ task['userId'] === currentUserId ? 'You' : user.username }} added
              <a [routerLink]="['/entity/'+task['id']]">
                {{ task['name'] }}
              </a>
            </ng-container>
          </span>
          <span *ngIf="task['activityType'] === 'review'"
            class="rating rating-{{ task | ratingLabel | replaceSpaces}}">
            {{ task | ratingLabel }}
          </span>
        </div>
        <span fxFlex></span>
        <button *ngIf="(task['activityType'] === 'entity' && task['userId'] === currentUserId)
          || (task['activityType'] === 'review' && task['Entity']['userId'] === currentUserId)"
          mat-icon-button
          [matMenuTriggerFor]="activityMenu"
          [matMenuTriggerData]="{task: task}">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </div>
      <div class="task-desc"
        [innerHTML]="task['activityType'] === 'review' ? task['review'] : task['desc']">
      </div>
    </div>
  </div>
</ng-container>
<mat-menu #activityMenu="matMenu">
  <ng-template matMenuContent
    let-task="task">
    <button mat-menu-item
      (click)="editTask(task)">
      Edit
    </button>
    <button mat-menu-item>
      Delete
    </button>
  </ng-template>
</mat-menu>
