:host {
  display: block;
  padding-top: 20px;
}
.no-activity {
  font-size: 1.2em;
  text-align: center;
  margin-top: 2em;
  color: #b6b6b6;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.activity {
  color: #9d9a9a;
}

.date,
.task-header-content {
  font-size: 18px;

  .task-title {
    font-weight: 100;

    a {
      text-decoration: none;
      color: inherit;
      font-weight: 900;
    }
  }
}

.date {
  color: #656565;
  padding: 0px 0px 10px 0px;
}

.task-desc {
  font-size: 16px;
  padding: 10px 0px 10px 60px;
  font-weight: 100;
}
