:host {
}
mat-sidenav-container {
  background: #eee;
  height: 100%;
  mat-sidenav {
    width: 210px;
  }
}
mat-sidenav-content {
  padding-top: 20px;
}
header {
  position: relative;
  z-index: 1000;
}
.abs-logo {
  flex: 1;
  text-align: center;
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.menu-button {
  z-index: 10;
}
