<form class="component--app-top-search ng-untouched ng-pristine ng-valid"
  novalidate="">
  <mat-form-field appearance="legacy"
    floatLabel="never"
    hintLabel="">
    <mat-icon matPrefix>search</mat-icon>
    <input type="text"
      placeholder="Search"
      aria-label="Search"
      matInput
      [formControl]="searchCtrl"
      [matAutocomplete]="auto"
      (keyup)="searchKeyword$.next($event.target.value)"
      (keydown)="$event.key === 'Enter' ? findKeyword() : ''">
    <mat-autocomplete #auto="matAutocomplete"
      (optionSelected)="search($event)"
      [displayWith]="searchDisplayFn">
      <ng-container *ngIf="filteredOptions">

        <mat-option *ngFor="let entity of filteredOptions"
          [value]="entity"
          [routerLink]="['/entity/'+entity.id]">
          {{entity.name}}
        </mat-option>
      </ng-container>
    </mat-autocomplete>
    <button matSuffix mat-button *ngIf="searchCtrl.value" mat-icon-button aria-label="Clear" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>
