::ng-deep {
  .component--app-top-search .mat-form-field-wrapper {
    padding-bottom: 0px;

    .mat-form-field-infix {
      border-top: 0;
      width: auto;
      min-width: 100px;
    }

    .mat-form-field-prefix {
      margin-right: 8px;
      height: 18px;
      width: 18px;
      min-width: 18px;
      min-height: 18px;
      line-height: 18px;
      -webkit-transform: translateY(2px);
      transform: translateY(2px);

      mat-icon {
        font-size: 130%;
        display: inline-block;
        vertical-align: middle;
      }
    }

    .mat-form-field-underline {
      display: none;
    }
  }

  app-side-nav {
    app-separator {
      color: rgba(0, 0, 0, 0.5);
    }

    mat-nav-list {
      .mat-list-item-content {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
      }

      .mat-list-item {
        mat-icon {
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }

  a.item {
    text-decoration: none;
    mat-card {
      padding: 10px;
      box-shadow: none;
      border-radius: 4px;
      &.danger {
        background-color: #ffecec;
        border: 1px solid #da3d3d;
      }
      &.success {
        background-color: #b3ecb3;
        border: 1px solid #31cc31;
      }
      .img-cont.small {
        img {
          max-width: 40px;
          max-height: 40px;
          border-radius: 25px;
          border: 1px solid #c7c7c7;
        }
      }
    }
  }

}
