a {
  color: inherit;
  text-decoration: none;
}

mat-card.entity-item {
  background-color: #f9f9f9;
  border: 1px solid #c6c6c6;
  border-radius: 6px;
  padding: 10px;
  min-height: 64px;
}

.icon-cont {
  max-width: 32px;
  max-height: 32px;

  img.icon {
    width: 100%;
    height: 100%;
  }
}

.name {
  color: #777777;
}

.name-label {
  font-size: 24px;
}

