<mat-progress-bar *ngIf="loading"></mat-progress-bar>
<div fxLayout="column"
  fxLayoutAlign="center center"
  class="main-cont">
  <div class="logo-container">
    <img src="assets/images/logo/cryptocanary-light.png"
      alt="logo">
    <div class="sub-title"><span>the</span><span>cryptocanary</span></div>
  </div>
  <br><br><br>
  <div class="align-center">Excepteur eu anim non sit irure magna laboris laborum laboris.</div>
  <br>
  <div class="align-center">Excepteur eu anim non sit irure magna laboris laborum laboris.</div>
  <br>
  <button class="fb-button margin-top"
    (click)="signInWithFB()"
    [disabled]="loading">CONTINUE VIA FACEBOOK</button>
</div>
