<mat-progress-bar
  *ngIf="loading"
  mode="indeterminate"
  color="primary"
  class="absolute-position-important abs-topmost"
></mat-progress-bar>
<app-page-layout>
  <section class="home"
    fxLayout="row"
    fxLayoutAlign="center">
    <mat-tab-group fxFlex
      mat-stretch-tabs
      (selectedTabChange)="selectedTabChange($event)">
      <mat-tab label="NEW PROJECTS">
        <section>
          <app-entity-card-overview [data]="entities"
            fxLayout="column"
            fxLayoutGap="10px">
          </app-entity-card-overview>
        </section>
      </mat-tab>
      <mat-tab label="SHADIEST PROJECTS">
        <section fxLayout="column"
          fxLayoutGap="10px">
          <app-entity-card-overview [data]="entities"
            fxLayout="column"
            fxLayoutGap="10px">
          </app-entity-card-overview>
        </section>
      </mat-tab>
    </mat-tab-group>
  </section>
</app-page-layout>
