<section class="entity-reviews">
  <div fxLayout="row"
    fxLayoutAlign="flex-end">
    <mat-form-field>
      <mat-select [(value)]="sortField"
        placeholder="Sort by"
        (selectionChange)="sortReviews($event)">
        <mat-option value="createdAt">Date</mat-option>
        <mat-option value="upvoteTally">Relevance</mat-option>
        <mat-option value="rating">Shadiness</mat-option>
      </mat-select>
    </mat-form-field>
    <button type="button"
      mat-icon-button
      aria-label="Sort Direction"
      (click)="sortReviewsDirection()">
      <ng-container *ngIf="sortDirection == 'asc'; then sortAsc else sortDesc"></ng-container>
      <ng-template #sortAsc>
        <mat-icon>arrow_upward</mat-icon>
      </ng-template>
      <ng-template #sortDesc>
        <mat-icon>arrow_downward</mat-icon>
      </ng-template>
    </button>
  </div>
  <div *ngIf="!entityReviews.length">
    <div fxLayout="row"
      fxLayoutAlign="center">
      <button mat-icon-button
        matTooltip="Reload reviews"
        matTooltipPosition="after"
        (click)="reloadEntityReviews()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
    <div class="no-reviews">
      No reviews yet
    </div>
  </div>
  <div class="review-item"
    fxLayout="row wrap"
    fxLayoutGap="10px"
    *ngFor="let review of entityReviews">
    <ng-container *ngIf="review.User && review.User.id">
      <a [routerLink]="['/user/'+review.User.id]"
        class="avatar-cont"
        fxFlex="1 1 3em">
        <img [src]="baseUrl+'/avatar/'+review.User.id+'/'+review.User.avatar"
          appCheckImage
          alt="user"
          class="icon">
      </a>
    </ng-container>
    <ng-container *ngIf="!review.User || !review.User.id">
      <div class="avatar-cont"
        fxFlex="1 1 3em">
        <img src="../../../assets/images/avatars/default.png"
          alt="avatar"
          class="icon">
      </div>
    </ng-container>
    <div class="content"
      fxFlex>
      <div class="header"
        fxLayout="row"
        fxLayoutAlign="stretch center"
        fxLayoutGap="5px">
        <ng-container *ngIf="review.User && (review.User.username || review.User.email)">
          <span class="name">{{ review.User.username || review.User.email }}</span>
        </ng-container>
        <ng-container *ngIf="!review.User || !review.User.username || !review.User.email">
          <span class="name">Unknown </span>
        </ng-container>
        <span>says</span>
        <span class="rating rating-{{ review | ratingLabel | replaceSpaces }}">{{
          review | ratingLabel }}
        </span>
        <app-review-action-buttons [review]="review"
          (afterDelete)="afterReviewDeleted($event)"
          (afterUpdate)="afterReviewUpdated($event)">
        </app-review-action-buttons>
        <span fxFlex></span>
        <span class="review-date">{{ review.createdAt | dateTimeMomentFormat: 'YYYY-MM-DD HH:mm:ss' }}</span>
      </div>
      <div class="desc">
        {{ review.review }}
      </div>
      <div class="footer"
        fxLayout="row"
        fxLayoutGap="20px">
        <button class="green-text"
          (click)="voteReview(review.id, true)"
          mat-button>
          {{ review.upvoteTally }} <mat-icon>arrow_upward</mat-icon> Helpful
        </button>
        <button class="grey-text"
          (click)="voteReview(review.id, false)"
          mat-button>
          {{ review.downvoteTally }} <mat-icon>arrow_downward</mat-icon> Suspicious
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="entityTotalReviews > entityReviews.length"
    fxLayout="row"
    fxLayoutAlign="end"
    class="more-cont">{{ entityReviews.length }} of {{ entityTotalReviews }} <span (click)="loadReviews()"> More
      reviews</span></div>
</section>
