<section class="entity-reviews">
  <div class="review-item"
    fxLayout="row wrap"
    fxLayoutGap="10px"
    *ngFor="let review of entityReviews">
    <a [routerLink]="['/user/'+review.User.id]"
      class="avatar-cont"
      fxFlex="1 1 3em">
      <img [src]="baseUrl+'/avatar/'+review.User.id+'/'+review.User.avatar"
        onerror="this.onerror=null;this.src='/assets/images/avatars/default.png'"
        alt="user"
        class="icon">
    </a>
    <div class="content"
      fxFlex>
      <div class="header"
        fxLayout="row"
        fxLayoutAlign="stretch start"
        fxLayoutGap="5px">
        <span class="name">{{ review.User.username || review.User.email }}</span>
        <span>says</span>
        <span class="rating rating-{{ review.rating | ratingLabel | replaceSpaces }}">{{
          review.rating | ratingLabel }}
        </span>
        <button *ngIf="userReview.length && review.id === userReview[0].id"
          class="more-menu-btn"
          mat-icon-button
          [matMenuTriggerFor]="activityMenu"
          [matMenuTriggerData]="{userReview: review}">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </div>
      <div class="desc">
        {{ review.review }}
      </div>
      <div class="footer"
        fxLayout="row"
        fxLayoutGap="20px">
        <button class="green-text"
          (click)="voteReview(review.id, true)"
          mat-button>
          {{ review.upvoteTally }} <mat-icon>arrow_upward</mat-icon> Helpful
        </button>
        <button class="grey-text"
          (click)="voteReview(review.id, false)"
          mat-button>
          {{ review.downvoteTally }} <mat-icon>arrow_downward</mat-icon> Suspicious
        </button>
      </div>
    </div>
  </div>
  <div fxLayout="row"
    fxLayoutAlign="end"
    class="more-cont">{{ entityReviews.length }} of {{ entityTotalReviews }} <span (click)="loadReviews()"> More
      reviews</span></div>
</section>
<mat-menu #activityMenu="matMenu">
  <ng-template matMenuContent
    let-userReview="userReview">
    <button mat-menu-item
      (click)="editReview(userReview)">
      Edit
    </button>
    <button mat-menu-item>
      Delete
    </button>
  </ng-template>
</mat-menu>
