/* You can add global styles to this file, and also import other style files */
@import "./themes/custom-theme-1.scss";
@import '~@ngx-share/button/styles/share-buttons';
@import '~@ngx-share/button/styles/themes/default/default-theme';

@font-face {
  font-family: Aquawax;
  src: url(assets/fonts/Aquawax/Aquawax-DemiBold.ttf);
}

@font-face {
  font-family: Aquawax;
  src: url(assets/fonts/Aquawax/Aquawax-Light.ttf);
  font-weight: 100;
}

@font-face {
  font-family: 'Aquawax';
  font-weight: 100;
  src: url(assets/fonts/Aquawax/Aquawax-DemiBold.ttf);
  unicode-range: U+30-39;
}

@font-face {
  font-family: 'Encode Sans';
  src: url(assets/fonts/EncodedSans/EncodeSans-Light.ttf);
  font-weight: 100;
}

@font-face {
  font-family: 'Encode Sans';
  src: url(assets/fonts/EncodedSans/EncodeSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Encode Sans';
  src: url(assets/fonts/EncodedSans/EncodeSans-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Encode Sans';
  src: url(assets/fonts/EncodedSans/EncodeSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Encode Sans';
  src: url(assets/fonts/EncodedSans/EncodeSans-Bold.ttf);
  font-weight: bold;
}

* {
  font-family: 'Aquawax', 'Roboto', sans-serif;
}

mat-icon {
  font-family: 'Material Icons' !important;
}

html {
  overflow: hidden !important;
  top: 0 !important;
  left: 0 !important;
}

html,
body {
  height: 100%;
  font-size: 14px;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.font-roboto {
  font-family: 'Roboto'
}

.font-aquawax {
  font-family: 'Aquawax';
}

.white-bg {
  background-color: #ffffff;
}

$grey-1: #58595b;
$grey-2: #696a6b;
$grey-3: #797a7c;
$grey-4: #8a8b8c;
$grey-5: #9b9b9d;
$grey-6: #acacad;
$grey-7: #bcbdbd;
$grey-8: #cdcdce;
$grey-9: #dedede;
$grey-10: #eeeeef;

.grey-bg-6 {
  background-color: $grey-6;
}

.grey-bg-5 {
  background-color: $grey-5;
}

.grey-bg-4 {
  background-color: $grey-4;
}

.grey-bg-3 {
  background-color: $grey-3;
}

.grey-bg-2 {
  background-color: $grey-2;
}

.grey-bg-1 {
  background-color: $grey-1;
}

.grey-txt-6 {
  color: $grey-6;
}

.grey-txt-7 {
  color: $grey-7;
}

.grey-txt-8 {
  color: $grey-8;
}

.grey-txt-9 {
  color: $grey-9;
}

.grey-txt-10 {
  color: $grey-10;
}

.grey-txt-10 {
  color: $grey-10;
}

.grey-txt-9 {
  color: $grey-9;
}

.grey-txt-8 {
  color: $grey-8;
}

.grey-txt-7 {
  color: $grey-7;
}

.grey-txt-6 {
  color: $grey-6;
}

.grey-txt-5 {
  color: $grey-5;
}

.grey-txt-4 {
  color: $grey-4;
}

.grey-txt-3 {
  color: $grey-3;
}

.grey-txt-2 {
  color: $grey-2;
}

.grey-txt-1 {
  color: $grey-1;
}

.component--global-nav.mode-desktop .mat-button {
  height: 60px;
  margin-right: 5px;
  padding: 0 20px;
}

.absolute-position-important {
  position: absolute !important;
}

.abs-topmost {
  top: 0px;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.text-transform-upper {
  text-transform: uppercase;
}

.font-weight-bold {
  font-weight: 500;
}

.color-danger {
  color: red;
}

.margin-large-top {
  margin-top: 16px;
}

.layout-wrap {
  flex-wrap: wrap;
}

.layout-row {
  flex-direction: row;
}

.section-layout.mat-card {
  padding: 0;
}

.cardWrapper mat-card {
  padding: 8px;
}

.mat-card-content>:first-child,
.mat-card>:first-child {
  margin-top: 0;
}

.border-color-divider {
  border-color: rgba(0, 0, 0, .1);
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.padding-xlarge {
  padding: 20px;
}

.padding-medium {
  padding: 8px;
}

.margin-xlarge-bottom {
  margin-bottom: 20px;
}

.margin-xlarge-top {
  margin-top: 20px;
}

.flex-noshrink {
  flex: 1 0 auto;
  max-width: 100%;
}

$img: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAB4CAIAAAC2BqGFAAAAGXRFW…iaoGkETdAETSNogqYRNEETNI2gCZpG0ARN0DS77R8BBgDV2385oXHdmgAAAABJRU5ErkJggg==';

.image-with-placeholder {
  line-height: 0;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 2px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url($img);
}

.text-color-medium {
  color: rgba(0, 0, 0, .5);
}

.font-size-small {
  font-size: 12px;
}

.font-size-medium {
  font-size: 16px;
}

.font-size-large {
  font-size: 20px;
}

.font-size-xlarge {
  font-size: 24px;
}

.font-weight-light {
  font-weight: 300;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.link {
  color: #0288d1;
  text-decoration: none;
  font-weight: 500;
}

.display-block {
  display: block;
}

.margin-medium-top {
  margin-top: 8px;
}

.theme {
  background-color: #fff;
  border-top-left-radius: 2px;
  height: 46px;
  width: 46px;
  text-align: center;

  mat-icon {
    line-height: 46px;
  }
}

.absolute-to-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.width-100 {
  width: 100%;
}

.accent-top::before {
  content: "";
  height: 5px;
  background: linear-gradient(to right, #b28948, #f5dd9e, #b28948);
  border-radius: 2px 2px 0 0;
  display: block;
  width: 100%;
}

.break-all {
  word-break: break-all;
}

.overflow-hidden {
  overflow: hidden;
}

a.a-container {
  text-decoration: none;
  color: inherit;
}

.share-menu {
  .mat-menu-content {
    .mat-menu-item {
      padding: 0px;

      share-button {
        width: 100%;
        margin: 0px;

        button {
          width: 100%;
        }
      }
    }
  }
}

.error mat-dialog-container {
  padding: 0px;
  overflow: hidden;
}

.rating {
  color: #9D9A9A;
}

.rating-super-shady {
  color: #000;
}

.rating-slightly-shady {
  color: #00cafc;
}

.rating-not-shady-at-all {
  color: #00e200;
}

.rating-shady {
  color: #ffa10e;
}

.rating-very-shady {
  color: red;
}

.auth-popup-form mat-dialog-container,
.no-margin-dialog mat-dialog-container {
  padding: 0px 0px 10px 0px;
  overflow: hidden;

  mat-dialog-content {
    margin: 0px;
    padding: 0px;
  }
}

button.fb-button {
  cursor: pointer;
  background-color: #4b79ff;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  outline: none;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  height: 65px;
  padding: 10px;

  &:disabled {
    background-color: #85a4fffc;
    cursor: not-allowed;
  }
}

.desc>* {
  color: #9D9A9A !important;
  font-size: 16px;
  font-family: Aquawax, Encode Sans;
  font-weight: 100;
}

button.green-text {
  color: #00E608;
}

button.grey-text {
  color: #C9C8C8;
}

.more-cont {
  font-size: 10px;
  font-family: Encode Sans;
  font-weight: 500;
  color: #9D9A9A;

  span {
    color: #0031F6;
    margin-left: 5px;
    cursor: pointer;
  }
}
