:host {
  margin-left: 10px;
  min-width: 2.7em;
  display: block;
  position: relative;
}
mat-slide-toggle {
  height: 40px;
}
.mask {
  display: block;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: -1;
  cursor: not-allowed;
}
